-#応用カリNo89の実演にて、indexアクションの設定時に生成されたファイル+コード
-#（初期の表示確認以降は不要なのでコメントアウト）
-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml

-#応用カリNo89の実演にて、別途作成したHamlファイルを読み込むコードを記述
.wrapper
  = render "side_bar"
  = render "main_chat"
