-#応用カリNo91にて、グループ情報の編集画面のviewファイルとして作成

-#仮表示の文字列
-# ＜チャットグループ編集＞

-#グループ情報の編集画面viewのコード
-# = form_with model: @group, local: true do |f|
-#   = f.text_field :name, class: "SettingGroupForm__input", placeholder: "グループ名を入力してください"
-#   = f.collection_check_boxes :user_ids, User.all, :id, :name
-#   = f.submit "Save", class: "SettingGroupForm__button"

-#応用カリNo91にて、部分templateでviewを表示するように変更することに伴い、下記コードに書き換え
.SettingGroupForm
  %h1 チャットグループ編集
  = render partial: 'form', locals: { group: @group }
